.container {
  max-width: 1728px;
  margin: 0 auto;
  padding: 0 180px;

  @include vp-1023{
    max-width: 767px;
    padding: 0 20px;
  }

  @media (max-width: 700px){
    max-width: 475px;
  }

  @include vp-767{
    max-width: 375px;
    padding: 0 20px;
  }
}
