.btn {

    &__giper {
        background-color: $color-ecru-white;
        border: none;
        border-radius: 60px;
        padding: 8px 16px;
        font-size: 14px;
        line-height: 20px;
        cursor: pointer;




        @include vp-767 {
            font-size: 12px;
            line-height: 16px;
        }
    }

    &--active {

        .btn__giper {
            background-color: $color-blue-charcoa;
            color: $color-white;
        }
    }





}