.card-grids {
    padding: 40px;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: end;
    height: 100%;
    width: auto;

    &::before {
        content: "";
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);

    }

    @include vp-767 {
        padding: 20px;
        width: 100%;
        height: 200px;
    }


    &--stage-1 {
        background-image: url("../../images/news/img-1-grid.jpg");
    }

    &--stage-2 {
        background-image: url("../../images/news/img-2-grid.jpg");
    }

    &--stage-3 {
        background-image: url("../../images/news/img-3-grid.jpg");
    }

    &--stage-4 {
        background-image: url("../../images/news/img-4-grid.jpg");
    }

    &--stage-5 {
        background-image: url("../../images/news/img-5-grid.jpg");
    }

    &--stage-6 {
        background-image: url("../../images/news/img-6-grid.jpg");
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 158px;

        @include vp-767{
            gap: 62px;
        }

    }

    &__block {
        display: flex;
        flex-direction: column;
        z-index: 2;
        gap: 10px;

        &-heading {
            font-family: $ff-imb-plex;
            font-weight: 200;
            font-size: 24px;
            line-height: 28px;
            letter-spacing: 0.02em;
            text-transform: uppercase;
            margin: 0;
            color: $color-white;

            @include vp-1023 {
                font-size: 16px;
                line-height: 20px;
            }
        }

        &-data {
            font-size: 14px;
            line-height: 20px;
            color: $color-white;

            @include vp-1023 {
                font-size: 12px;
                line-height: 16px;
            }
        }


    }

    &--stage-1 &__wrapper{
        gap: 42px;
    }



}