.card {
    padding: 60px 28px 0;
    display: grid;
    grid-template-columns: 340px 100px 400px 72px 400px;

    &:hover,
    &:focus-visible {
        outline: none;
        background-color: $color-twilight-blue;
    }



    @include vp-767 {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 30px 0 25px 0;
    }




    &--grid {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 40px;
        margin: 0 auto;
        outline: none;

        &:hover,
        &:focus-visible {
            background-color: transparent;
        }


        &:hover::before,
        &:focus-visible::before {
            outline: none;
            background: rgba(0, 0, 0, 0.5);
        }




        @media(max-width:1240px) {
            padding: 25px;
        }

        @media(max-width:1160px) {
            padding: 20px;
        }

        @include vp-767 {
            gap:0;
            width: 335px;
        }


        &::before {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);

            @include vp-767 {
                width: 335px;
            }
        }


        .card__img-wrapper {
            width: 100%;
            height: 100%;
            z-index: -2;

            @include vp-767 {
                width: 335px;
                height: 100%;
            }

        }

        .card__img-list {
            display: none;
        }

        .card__img-grid {
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            width: 100%;
            height: 100%;
            z-index: -2;

            @include vp-767 {
                width: 335px;
                height: 100%;
            }
        }

        .card__block {
            flex-direction: column-reverse;
            min-height: 280px;
            width: 100%;
            height: 100%;
            justify-content: space-between;



            @include vp-767 {
                flex-direction: column-reverse;
                width: 295px;
                min-height: 160px;
            }

            .card__block-item {
                display: flex;
                flex-direction: column-reverse;
                gap: 10px;
                width: 100%;

                @include vp-767 {
                    min-height: 86px;
                    gap: 10px;
                }
            }

            &-heading {
                font-size: 24px;
                line-height: 28px;
                color: $color-white;
                width: 100%;

                @media(max-width:1150px) {}

                @include vp-767 {
                    width: 295px;
                    margin: 0;
                    padding: 0;
                    font-size: 16px;
                    line-height: 20px;
                }
            }

            &-data {
                margin: 0;
                color: $color-white;
            }

            &-btn {

                @include vp-767 {
                    position: unset;
                    font-size: 12px;
                    line-height: 16px;
                }
            }
        }

        .card__aside {
            display: none;
        }

        &-xl {
            .card__block {

                &-btn {
                    @include vp-767 {}
                }
            }

        }

        &-xl-flat {

            .card__block {

                @include vp-767 {
                    gap: 0;
                }
            }
        }

    }



    &__block {
        grid-column: 3;
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 400px;
        position: relative;

        @include vp-767 {
            width: 335px;
        }


        &-item {
            display: flex;
            flex-direction: column;
            gap: 20px;

            @include vp-767 {
                flex-direction: column-reverse;
            }
        }


        &-heading {
            font-family: $ff-imb-plex;
            font-weight: 200;
            font-size: 24px;
            line-height: 28px;
            letter-spacing: 0.02em;
            text-transform: uppercase;
            margin: 0;
            width: 410px;


            @include vp-767 {
                width: 340px;
                font-size: 20px;
                line-height: 24px;
                margin-bottom: 5px;

            }
        }

        &-data {
            font-size: 14px;
            line-height: 20px;
            color: $color-mischka;

            @include vp-767 {
                font-size: 12px;
                line-height: 16px;
            }
        }

        &-btn {
            width: fit-content;
            background-color: $color-ecru-white;
            border: none;
            border-radius: 60px;
            padding: 8px 16px;
            font-size: 14px;
            line-height: 20px;
            cursor: pointer;

            @include vp-767 {
                position: absolute;
                right: 0;
                font-size: 12px;
                line-height: 16px;
                top: -5px;
            }

            &--noactive {
                visibility: hidden;
            }
        }
    }

    &__aside {
        display: flex;
        flex-direction: column;
        grid-column: 5;
        margin-bottom: 60px;

        @include vp-767 {
            margin-bottom: 0;
        }

        &--mini {
            margin-bottom: 30px;

            @include vp-767 {
                margin-bottom: 0;
            }
        }

        @include vp-767 {
            width: 335px;
        }

        &-desc {
            max-width: 400px;
            margin: 0;
            font-size: 18px;
            line-height: 26px;

            @media (max-width:1400px) {
                max-width: 100%;
            }

            @include vp-767 {
                font-size: 12px;
                line-height: 16px;
            }
        }

        &-list {
            margin: 0;
            padding: 0 0 0 10px;
            list-style: none;

            &-item {
                position: relative;
                font-size: 18px;
                line-height: 26px;
                padding: 0;
                max-width: 400px;

                @media (max-width:1400px) {
                    max-width: 100%;
                }

                @include vp-767 {
                    font-size: 12px;
                    line-height: 16px;
                }

                &::before {
                    content: "";
                    position: absolute;
                    width: 5px;
                    height: 5px;
                    border-radius: 50%;
                    background-color: $color-black;
                    left: -10px;
                    top: 10px;

                    z-index: 2;
                }
            }
        }
    }

    &__img-wrapper {
        width: 340px;
        height: 220px;

        @include vp-767 {
            height: 180px;
            width: 335px;
        }
    }


    &__img-list {
        width: 335px;
        height: 100%;
    }

    &__img-grid {
        display: none;
    }

}