.card {
    padding: 60px 28px;

    &--listing{
        padding: 60px 28px 30px;
    }


    &__wrapper {
        display: grid;
        grid-template-columns: 340px 100px 400px 72px 400px;
    }

    &__block {
        grid-column: 3;
        display: flex;
        flex-direction: column;
        gap: 20px;

        &-heading {
            font-family: $ff-imb-plex;
            font-weight: 200;
            font-size: 24px;
            line-height: 28px;
            letter-spacing: 0.02em;
            text-transform: uppercase;
            margin: 0;
            width: 400px;
        }

        &-data {
            font-size: 14px;
            line-height: 20px;
            color: $color-mischka;
        }
    }

    &__aside {
        grid-column: 5;
        display: flex;
        flex-direction: column;

        &-desc {
            margin: 0;
            font-size: 18px;
            line-height: 26px;
        }

        &-list {
            margin: 0;
            padding: 0 0 0 10px;
            list-style: none;

            &-item {
                position: relative;
                font-size: 18px;
                line-height: 26px;
                padding: 0;
                width: 400px;

                &::before {
                    content: "";
                    position: absolute;
                    width: 5px;
                    height: 5px;
                    border-radius: 50%;
                    background-color: $color-black;
                    left: -10px;
                    top: 10px;

                    z-index: 2;
                }
            }
        }
    }



    &__img {
        height: 220px;
    }

}