.card {
    padding: 60px 28px;

    @media (max-width:1400px) {
        padding: 20px 28px;
    }

    @include vp-767{
        padding: 20px 0;
    }

    &--listing {
        padding: 60px 28px 30px;

        @include vp-767{
            padding: 30px 0 30px;
        }
    }


    &__wrapper {
        display: grid;
        grid-template-columns: 340px 100px 400px 72px 400px;

        @media (max-width:1670px) {
            display: flex;
            gap: 40px;
        }

        @media (max-width:1400px) {
            display: grid;
            grid-template-columns: 340px 250px;
            grid-template-rows: repeat(2, 1fr);
        }

        @include vp-1023 {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    }

    &__block {
        grid-column: 3;
        display: flex;
        flex-direction: column;
        gap: 20px;
        max-width: 400px;

        @media (max-width:1400px) {
            grid-column: 2;
            max-width: 250px;
        }

        @include vp-1023 {
            display: grid;
            max-width: 100%;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 32px 1fr;
            align-items: center;
        }

        &-heading {
            font-family: $ff-imb-plex;
            font-weight: 200;
            font-size: 24px;
            line-height: 28px;
            letter-spacing: 0.02em;
            text-transform: uppercase;
            margin: 0;
            width: 400px;

            @media (max-width:1400px) {
                width: 250px;
            }

            @include vp-1023 {
                width: 100%;
                grid-column: 1/3;
                grid-row: 2;
            }

            @include vp-767{
                font-size: 20px;
                line-height: 24px;
                margin-bottom: 5px;
            }
        }

        &-data {
            font-size: 14px;
            line-height: 20px;
            color: $color-mischka;

            @include vp-767{
                font-size: 12px;
                line-height: 16px;
            }
        }

        &-grid-btn {

            @include vp-1023 {
                display: flex;
                justify-content: end;
            }
        }
    }

    &__aside {
        grid-column: 5;
        display: flex;
        flex-direction: column;

        @media (max-width:1400px) {
            grid-row: 2;
            grid-column: span 3;
        }

        &-desc {
            max-width: 400px;
            margin: 0;
            font-size: 18px;
            line-height: 26px;

            @media (max-width:1400px) {
                max-width: 100%;
            }

            @include vp-767{
                font-size: 12px;
                line-height: 16px;
            }
        }

        &-list {
            margin: 0;
            padding: 0 0 0 10px;
            list-style: none;

            &-item {
                position: relative;
                font-size: 18px;
                line-height: 26px;
                padding: 0;
                max-width: 400px;

                @media (max-width:1400px) {
                    max-width: 100%;
                }

                @include vp-767{
                    font-size: 12px;
                    line-height: 16px;
                }

                &::before {
                    content: "";
                    position: absolute;
                    width: 5px;
                    height: 5px;
                    border-radius: 50%;
                    background-color: $color-black;
                    left: -10px;
                    top: 10px;

                    z-index: 2;
                }
            }
        }
    }

    &__img-wrapper {
        min-width: 340px;
        height: 220px;

        @include vp-767{
            min-width: unset;
            width: 100%;
        }
    }


    &__img {
        width: 100%;
        height: 100%;
    }

}