.custom-checkbox {
    height: 36px;
    display: flex;

    &:focus-visible {
        outline: none;
    }

    &:hover &__label,
    &:focus-visible &__label {
        outline: none;
        background-color: $color-chrome-white;
    }

    @include vp-767 {}

    &:not(:first-child) {
        @include vp-767 {
            display: none;
        }
    }

    &__label {
        background-color: $color-ecru-white;
        color: $color-black;
        border: none;
        border-radius: 60px;
        padding: 8px 16px;
        cursor: pointer;

        @include vp-767 {}

        &-text {
            font-size: 14px;
            line-height: 20px;


            @include vp-767 {
                font-size: 12px;
                line-height: 16px;
            }

            &-mobile {
                display: none;

                @include vp-767 {
                    display: inline;
                }
            }
        }
    }

    &__field:checked+&__label {
        background-color: $color-blue-charcoa;
        color: $color-white;
    }

}