.header {
  $root: &;
  padding: 20px 0 19px;
  border-bottom: 1px solid $color-gainsboro;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  background-color: $color-white;
  z-index: 10;

  @include vp-1023 {
    padding: 17px 0 16px;
  }

  .container {
    max-width: 1728px;
    padding: 0 50px;

    @include vp-1023 {
      padding: 0 20px;
    }
  }

  &__content {
    position: relative;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto 1fr;
    gap: 20px;


    @include vp-1023 {
      grid-template-columns: 1fr 1fr;
    }
  }

  &__left-col {
    display: flex;
    align-items: center;
  }

  &__menu {
    display: flex;
    width: 60px;
    height: 40px;
    background-color: transparent;
    padding: 0;
    border: none;
    color: $color-blue-charcoa;
    align-items: center;
    justify-content: center;
    margin: 0 70px 0 0;

    @include vp-1023 {
      width: 47px;
      height: 20px;
    }

    @include vp-767 {
      margin: 0 70px 0 0;
    }

    &-close {
      background-color: transparent;
      border: none;
      color: $color-white;
      display: none;
      width: 40px;
      height: 40px;
    }
  }

  &__menu-icon {
    height: 23px;
    width: 60px;

    @include vp-1023 {
      height: 18px;
      width: 47px;
    }

    &-close {
      width: 40px;
      height: 40px;
    }
  }

  &__logo-link {
    height: 26px;
    width: 114px;
    display: flex;
    color: $color-blue-charcoa;

    &:hover,
    &:focus-visible {
      opacity: 0.7;
    }

    @include vp-1023 {
      height: 24px;
      width: 105px;
    }

    @include vp-767 {
      height: 20px;
      width: 88px;

      svg {
        height: 20px;
        width: 88px;
      }
    }
  }

  &__page {
    font-size: 18px;
    line-height: 26px;
    display: block;

    @media (max-width: 1199px) {
      font-size: 16px;
      line-height: 20px;
    }

    @include vp-1023 {
      display: none;
    }
  }

  &__right-col {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 40px;
    font-size: 18px;
    line-height: 22px;

    @media (max-width: 1199px) {
      font-size: 16px;
      line-height: 20px;
    }

    @include vp-1023 {
      gap: 20px;
      font-size: 14px;
    }
  }

  &__link {
    @include vp-767 {
      display: none;
    }

    &:hover,
    &:focus-visible {
      text-decoration: underline;
    }
  }

  &__phone {
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover,
    &:focus-visible {
      opacity: 0.7;
    }
  }

  &__phone-text {
    @include vp-1023 {
      display: none;
    }
  }

  &__phone-icon {
    height: 24px;
    width: 24px;
    display: none;

    @include vp-1023 {
      display: flex;
    }
  }

  &__burger {
    display: none;
    background-color: $color-blue-charcoa;
    position: absolute;
    left: 0;
    top: 80px;
    z-index: 1;
    width: 100%;
    padding: 180px 249px 250px;

    &-wrapper {}

    &-blocks {
      display: flex;
      gap: 90px;
    }

    &-left,
    &-mid,
    &-right {
      display: flex;
      flex-direction: column;
      width: 350px;
      gap: 40px;
    }

    &-item {
      font-size: 24px;
      line-height: 28px;
      letter-spacing: 0.02em;
      color: $color-white-50;
    }

    &-little-item {
      font-size: 18px;
      line-height: 26px;
      color: $color-white-50;
    }

    &-social {

      &-list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 60px;
        position: absolute;
        right: 52px;
        top: 116px;

        &-item{
          display: flex;
        }
      }

      &-link{
        max-height: 18px;
      }

      &-icon{
        color: $color-seared-gray;
      }
    }
  }

  &--burger-active &__burger {
    display: block;
  }

  &--burger-active {
    background-color: $color-blue-charcoa;
    border-bottom: 1px solid $color-deepest-sea;
  }

  &--burger-active .header__content>.header__left-col>.header__logo-link,
  &--burger-active .header__content,
  &--burger-active .header__content>.header__right-col>.header__link,
  &--burger-active .header__content>.header__right-col>.header__phone {
    color: $color-white;
  }

  &--burger-active .header__content>.header__left-col {
    gap: 90px;
  }

  &--burger-active .header__content>.header__left-col>.header__menu {
    display: none;
  }

  &--burger-active .header__content>.header__left-col>.header__menu-close {
    display: block;
  }
}