.hero {
    padding: 40px 0;

    @include vp-1023 {
        padding: 15px 0;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        list-style: none;
        margin: 0;
        padding: 0;

        &-item {}

        @include vp-767 {
            display: none;
        }
    }



    &__slide {
        display: flex;
        flex-direction: column;

        &-selecter {
            padding: 40px 0 20px;
            display: flex;
            gap: 30px;
            border-bottom: 1px solid $color-chrome-white;
            margin-bottom: 40px;

            @include vp-767 {
                padding: 0 0 15px;
                display: grid;
                grid-template-columns: 260px 25px  20px;
                gap:15px;
                margin-bottom: 30px;

            }

            &-project {
                display: none;

                @include vp-767 {
                    display: flex;
                }
            }

            &-list,
            &-grid {
                display: flex;
                align-items: center;
                gap: 10px;
                font-size: 18px;
                line-height: 26px;
                color: $color-mischka;
                cursor: pointer;
                margin: 0;

                @include vp-767{
                    justify-content: end;
                }

                &--active {
                    color: $color-black;
                }
            }

            &-text {
                @include vp-767 {
                    display: none;

                }
            }

            &-icon{
                @include vp-767{
                    width: 20px;
                    height: 20px;
                }
            }
        }

        &-list {
            display: none;
            list-style: none;
            padding: 0;
            margin: 0;

            &-item {
                border-bottom: 1px solid $color-chrome-white;

                &:last-child {
                    border: none;
                }
            }
        }

        &-grid {
            display: none;
        }
    }

    .hero__slide-selecter:has(.hero__slide-selecter-list.hero__slide-selecter-list--active) {
        margin-bottom: 0;

        @include vp-767{
           
        }
    }

    .hero__slide-selecter:has(.hero__slide-selecter-list.hero__slide-selecter-list--active)~.hero__slide-list {
        display: flex;
        flex-direction: column;
    }

    .hero__slide-selecter:has(.hero__slide-selecter-grid.hero__slide-selecter-grid--active)~.hero__slide-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3,360px);
        gap: 20px;
        list-style: none;
        margin: 0;
        padding: 0;
        

        @media (max-width:1400px) {
            display: flex;
            flex-direction: column;
        }

        @include vp-767{
            gap: 15px;
        }
    }







}