.hero {
    padding: 40px 0;

    @include vp-1023 {
        padding: 15px 0;
    }


    &__wrapper {
        margin: 0 auto;
    }



    &__slide {
        display: flex;
        flex-direction: column;
        width: 100%;

        &-selecter {
            padding: 0 0 20px;
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 40px;
            border-bottom: 1px solid $color-chrome-white;

            @include vp-767 {
                padding: 0 0 10px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }

            &-form {
                width: 100%;
                margin-bottom: 20px;


            }

            &-project {
                display: none;

                @include vp-767 {
                    display: flex;
                }
            }

            &-change {
                display: flex;

                @include vp-767 {
                    justify-content: flex-end;
                }

                gap: 20px;

                &-list,
                &-grid {
                    display: flex;
                    align-items: center;
                    border: none;
                    background-color: transparent;
                    gap: 10px;
                    font-size: 18px;
                    line-height: 26px;
                    color: $color-black;
                    cursor: pointer;
                    margin: 0;

                    &:hover,
                    &:focus-visible{
                        outline: none;
                        color: $color-black;
                        text-decoration: underline;
                    }


                    @include vp-767 {
                        padding: 0;
                    }

                    &--active {
                        color: $color-mischka;
                    }
                }
            }

            &-text {
                @include vp-767 {
                    display: none;

                }
            }

            &-icon {
                @include vp-767 {
                    width: 20px;
                    height: 20px;
                }
            }
        }

        &-list {
            list-style: none;
            padding: 0;
            margin: 0 auto;

            &-item {
                border-bottom: 1px solid $color-chrome-white;



                &:last-child {
                    border: none;
                }
            }
        }

        &-grid {
            display: none;
        }
    }



    .hero__slide-selecter:has(.hero__slide-selecter-list.hero__slide-selecter-list--active) {
        margin-bottom: 0;

        @include vp-767 {}
    }

    .hero__slide-selecter:has(.hero__slide-selecter-change-list.hero__slide-selecter-change-list--active)~.hero__slide-list {
        display: flex;
        flex-direction: column;
    }

    .hero__slide-selecter:has(.hero__slide-selecter-change-grid.hero__slide-selecter-change-grid--active)~.hero__slide-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 360px);
        gap: 20px;
        list-style: none;
        margin: 0;
        padding: 40px 0 0;


        @include vp-767 {
            display: flex;
            flex-direction: column;
            gap: 15px;
            padding: 30px 0 0;
        }

    }

    .hero__slide-selecter:has(.hero__slide-selecter-change-grid.hero__slide-selecter-change-grid--active)~.hero__slide-list>.hero__slide-list-item {
        border-bottom: none;
    }



}